<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bicycle Marketplace</title>
</head>
<body>  
  
  <fieldset *ngFor = "let camera of products">
    <div >
      <div class="inline">
          image {{camera.image}} 
      </div>
      <div class="inline">
          title {{camera.title}} 

          description {{description}} 
      </div>
      <div class="inline">
          price: $ {{camera.price}}
          location {{camera.location}}
          <input *ngIf = "camera._creator != loggedUserID" (click)='Contact(camera._creator, camera._creator.firstName, camera)' type="submit" value="Contact">
          <button *ngIf = "camera._creator == loggedUserID" (click)="delete(camera._id)" type="button">DELETE</button>          
      </div>
    </div>
  </fieldset>
</body>
</html>
