.inline {
    display: inline-block;
    width:25%;
    vertical-align: top;
}

.firstdiv{
    background-color: lightgray;
    padding: 3%
}

.seconddiv {
    background-color: white;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

