<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bicycle Marketplace</title>
</head>
<body>  
  <div class=firstdiv>
    Search: <input [(ngModel)]="searchText" placeholder="search for camera brand name">
    <fieldset *ngFor = "let camera of products | filter : searchText">
      <div class=seconddiv>
        <div class="inline">
          image {{camera.image}} 
        </div>
        <div class="inline">
          <h3>{{camera.title}} </h3>
          {{camera.description}} 
        </div>
        <div class="inline">
          price: $ {{camera.price}} <br>
          location: {{camera.location}}
          <div>
            <input id="yellow" *ngIf = "camera._creator._id != loggedUserID" (click)='Contact(camera._creator.email, camera._creator.firstName)' type="submit" value="Contact">
            <button  id="red" *ngIf = "camera._creator._id == loggedUserID" (click)="delete(camera._id)" type="button">DELETE</button>          
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</body>
</html>
