<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
  <body>
    <fieldset *ngFor = "let camera of product">
      <h2>Camera of the day!</h2>
      <div class="inline">
          image {{image}} 
      </div>
      <div class="inline">
          title {{camera.title}} 

          description {{camera.description}} 
      </div>
      <div class="inline">
          price {{camera.price}}
      </div>
    </fieldset>
    <fieldset class=inline>
      <!-- <span *ngIf=(alert)>Email already exist</span> -->
      <form (submit)="Login()" #loginformData='ngForm'>
        *Email: <input name='email'
        type="text"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
        [(ngModel)]="loginObject.email"
        #loginemail='ngModel'
        />
        <span *ngIf=(loginemail.errors) [ngStyle]="{'color': 'red'}"> Give me valid email!</span>
        <span *ngIf=(loginemail.errors) [ngStyle]="{'color': 'red'}"> {{ loginemail.errors | json }}</span>
        <br>
        Password <input name='password'
        type="text"
        required
        minlength="5"
        pattern="^([a-zA-Z0-9@*#]{8,15})$"
        [(ngModel)]="loginObject.password"
        #loginpassword='ngModel'
        /> 
        <span *ngIf=(loginpassword.errors) [ngStyle]="{'color': 'red'}"> Please enter valid password!</span>
        <span *ngIf=(loginpassword.errors) [ngStyle]="{'color': 'red'}"> {{ loginpassword.errors | json }}</span>
        <br>
        <input class='green' [disabled]='loginformData.invalid' type="submit" value="Login">
      </form>
    </fieldset>

    <fieldset class=inline>
      <form (submit)="Register()" #formData='ngForm'>
        *First Name: <input 
          type="text" 
          name="firstName" 
          required 
          minlength="3" 
          maxlength="24"
          [(ngModel)]="user.firstName"
          #firstName='ngModel'
        />
        <span *ngIf=(firstName.errors) [ngStyle]="{'color': 'red'}"> Give me valid first name!</span>
        <span *ngIf=(firstName.errors) [ngStyle]="{'color': 'red'}"> {{ firstName.errors | json }}</span>
        <br>
        *Last Name: <input 
          type="text" 
          name="lastName" 
          required 
          minlength="3" 
          maxlength="24"
          [(ngModel)]="user.lastName"
          #lastName='ngModel'
        />
        <span *ngIf=(lastName.errors) [ngStyle]="{'color': 'red'}"> Give me valid last name!</span>
        <span *ngIf=(lastName.errors) [ngStyle]="{'color': 'red'}"> {{ lastName.errors | json }}</span>
        <br>
        *Email: <input name='email'
        type="text"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
        [(ngModel)]="user.email"
        #email='ngModel'
        />
        <span *ngIf=(email.errors) [ngStyle]="{'color': 'red'}"> Give me valid email!</span>
        <span *ngIf=(email.errors) [ngStyle]="{'color': 'red'}"> {{ email.errors | json }}</span>
        <br>
        *Password <input name='password'
        type="text"
        required
        minlength="5"
        pattern="^([a-zA-Z0-9@*#]{8,15})$"
        [(ngModel)]="user.password"
        #password='ngModel'
        /> 
        <span *ngIf=(password.errors) [ngStyle]="{'color': 'red'}"> Please enter valid password!</span>
        <span *ngIf=(password.errors) [ngStyle]="{'color': 'red'}"> {{ password.errors | json }}</span>
        
        
        <br>
        *Password Confirmation: <input 
        type="text" 
        name="passwordconfirm" 
        pattern="^([a-zA-Z0-9@*#]{8,15})$"
        required 
        [(ngModel)]="user.passwordconfirm"
        #passwordconfirm='ngModel'
      />
      <span *ngIf='user.password !== user.passwordconfirm' [ngStyle]="{'color': 'red'}"> Passwords dont match </span>
      <span *ngIf=(passwordconfirm.errors) [ngStyle]="{'color': 'red'}"> {{ passwordconfirm.errors | json }}</span>
      <br>
        <input class='green' [disabled]='formData.invalid' type="submit" value="Register">
      </form>
    </fieldset>
    
  </body>
</html>
